@import "header";
@import "footer"; // @import i inne style

* {
    box-sizing: border-box;
}
/* ------------------------------------------------------------------- */
/* global class */
/* ------------------------------------------------------------------- */

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1040px;
    font-family: 'Raleway', sans-serif;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}
/*------------------------------------------------------------------*/
/* page header */
/*------------------------------------------------------------------*/

.main-header {
    background: black;
    color: white;
    position: relative;
    z-index: 100;
    height: 40px;

    .main-logo {
        font-size: 16px;
        line-height: 40px;
        padding-left: 4px;
        float: left;
        font-weight: bold;

        a {
            text-decoration: none;
            color: #fff;
        }

        span {
            color: #38C3AD;
        }
    }
}
/* ------------------------------------------------------------------- */
/* main nav */
/* ------------------------------------------------------------------- */
