@import "header";
@import "footer";

// @import i inne style

* {
    box-sizing: border-box;
}
/* ------------------------------------------------------------------- */

/* globalne klasy */

/* ------------------------------------------------------------------- */

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1040px;
    font-family: 'Raleway', sans-serif;
    font-family: 'Kurale', serif;
    font-family: 'Raleway Dots', cursive;
    font-size: 3rem;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}
/*------------------------------------------------------------------*/

/* page header */

/*------------------------------------------------------------------*/

.main-header {

}
.main-logo {

}
.main-nav {

}
.main-nav ul {

}
.main-nav li {
    
}
